body{
    background-color:#EEF9BF;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:center;
}

h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    margin-top:30px;
    }

.carta{
    height:146px;
    width:117px;
    margin-right:34px;
    margin-top:34px;
    position:relative;
}

.face{
    width:100%;
    height:100%;
    background-color:#A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius:5px;
    display:flex;
    justify-content: center;
    align-items:center;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    position:absolute;
}

.front-face{
    transform:rotateY(180deg);
}

.carta:hover {
    cursor:pointer;
}

.virada .front-face{
    transform: rotateY(0deg);
}

.virada .back-face{
    transform: rotateY(-180deg);
}

div{
    width:78.5vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:20px;
}

.carta img{
    width:100px;
    height:100px;
}

.mobile{
    display:none;
}

.parCerto{
    cursor:initial;
}

.timer{
    position:fixed;
    top:20px;
    right:20px;
    font-size:45px;
    color:yellowgreen;
    padding:10px;
    background-color:rgb(255,255,255,0.50);
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(0,0,0,0.4);
}

@media(max-width:614px){
    .mobile{
        display:initial;
    }

    .desktop{
        display:none;
    }

    h1{
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.004em;
    }

    h1:nth-child(3){
        margin-top:0px;
    }

    div{
        flex-direction:column;
        align-items:center;
    }

    .carta{
        margin: 34px 0 0 0;
    }
}

@media(max-width:246px){
    h1{
        font-size:26px;
    }
}